@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(14, 181, 125);
}
h1#principal {
    text-align: center;
    background-color: rgb(0, 219, 55);
    color: white;
}
h2 {
    color: rgb(6, 42, 30);
}
/* tudo que foi id em html será # em css, porém tudo que for class em html irá ser um ponto*/

.basico {
    color: blue;
}

.intermediario {
    color: brown;
}

.avancado {
    color: chocolate;
}
/* apenas um id por código html, porém isso não se aplica a class*/